<div id="mainbox">
  <div class="box">
    <div class="coming"></div>
    <div class="entermail">
      <%= render partial: 'form' %>
      <div class="tishi">主人快带我回家吧，据说现在有金币拿～</div>
    </div>
    <div class="gulu gulu-ch"></div>
  </div>
</div>


<div id="demo">
  <div id="indemo">
    <div id="demo1">
    <img src="/assets/a1.png" border="0" />
    <img src="/assets/a2.png" border="0" />
    <img src="/assets/a3.png" border="0" />
    <img src="/assets/a2.png" border="0" />
    <img src="/assets/a4.png" border="0" />
    <img src="/assets/a5.png" border="0" />
    <img src="/assets/a2.png" border="0" />
    </div>
    <div id="demo2"></div>
  </div>
</div>

<div id="language">
  <a href="/welcome/en">English</a>
  <a href="/welcome/zh" class="sel">简体中文</a>
  <a href="/welcome/ja" style="background:none">日 本 語</a>
</div>
