@charset "UTF-8";
/* 基本样式     */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

@font-face {
 font-family: bitfont;
 src:image-url("04B_03B_.TTF");
}
@font-face {
 font-family: numberbitfont;
 src:image-url("04B_03__.TTF");
}
img {
	border:none;
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	font-weight:normal;
}
* {
	margin:0;
	padding:0
}
ul {
	list-style:none;
}
.font16{
	font-size:16px
}
.font20{
	font-size:20px
}

.font24{
	font-size:24px
}
body {
	line-height:1.25em;
	color:#333;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	background:#F4F2EC image-url("bg.gif") repeat;
	overflow: hidden;
}
input[type=text]{
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:0;
	height:30px;
	-webkit-appearance:none;
	font-size:14px;
}
input[type=button]{
	border-radius:0;
	-webkit-appearance:none;
	font-size:14px;
}
a,a:hover{
	color:#333;
	text-decoration:none;
}
.floleft {
	float:left
}
.floright {
	float:right
}
.clear{
	clear: both;
}
.hide{
	display:none;
}
#mainbox{
	padding-top:80px;
	.box{
		width: 1003px;
		margin: 0 auto;
		position: relative;
				
	}
}

.gulu{
	width: 150px;
	height: 120px;
	position: absolute;
	top: -50px;
	right:130px;
	background: image-url("gulu.gif") no-repeat;
	&.gulu-en{
		background: image-url("gulu-en.gif") no-repeat;
	}
	&.gulu-ch{
		background: image-url("gulu-ch.gif") no-repeat;
	}
}
.notice{
	width: 618px;
	height: 109px;
	background: image-url("notice.png") no-repeat;
	margin: 0 auto;
	&.notice-en{
		background: image-url("notice-en.png") no-repeat;
	}
	&.notice-ch{
		background: image-url("notice-ch.png") no-repeat;
	}
}
.tishi{
	font-family: "numberbitfont",Arial;
	font-size: 14px;
	color: #666;
	line-height:32px;
	-webkit-text-shadow:2px 2px 0px #fff;
	-moz-text-shadow:2px 2px 0px #fff;
	-o-text-shadow:2px 2px 0px #fff;
	text-shadow:2px 2px 0px #fff;
	padding-left: 2px;
	&.jp{
		font-size: 13px;
	}
}
.coming{
	width: 437px;
	height: 41px;
	background: image-url("coming.png");
	margin:0px auto;
}
.entermail{
	width: 437px;
	margin: 15px auto;
	input[type=text]{
		width: 340px;
		height: 34px;
		line-height: 32px;
		padding:5px 10px;
		background:rgba(0,0,0,.5);
		_background:#666;
		*background:#666;
		background:#666\0;
		box-shadow:inset 1px 1px 0 rgba(0,0,0,.2);
		border-radius:3px;
		color: #ccc;
		font-size:24px;
		font-family: numberbitfont;
		border: none;
		float: left;
		margin-top: 1px;
	}
	.gobtn{
		width: 69px;
		height: 49px;
		background: image-url("gobtn.png") no-repeat 0px 0px;
		float: right;
		border: none;
		padding: 0;
		cursor: pointer;
		&:hover{
			background: image-url("gobtn.png") no-repeat 0px -56px;
		}
	}
}

#language{
	text-align: right;
	font-family: "Arial";
	font-size: 12px;
	position: absolute;
	right:18px;
	bottom: 38px;
	-webkit-text-shadow:2px 2px 0px #fff;
	-moz-text-shadow:2px 2px 0px #fff;
	-o-text-shadow:2px 2px 0px #fff;
	text-shadow:2px 2px 0px #fff;
	a{
		padding: 2px 20px 0 20px;
		background: image-url("line.png") no-repeat right center;
		color: #666;
		&:hover{
			color: #333;
		}
		&.sel{
			color: #000;
		}
	}

	.fb {
		overflow: hidden;
	}
}



@mixin message {
	border: none;
	background-color: none;
	padding: 0;
	width: 402px;
	height: 96px;
	position: absolute;
	bottom: 340px;
	left:50%;
	margin: 0 0 0 50px;
	z-index: 999999;
	background-image: image-url("ts.png");
}



.notice{
	@include message;
	&.en{
		background-position: -402px -96px;
	}
	&.ja{
		background-position: -402px 0px;
	}
	&.zh{
		background-position: -402px -192px;
	}
}

.alert {
	@include message;
	&.en{
		background-position: 0 -96px;
	}
	&.ja{
		background-position: 0 0px;
	}
	&.zh{
		background-position: 0 -192px;
	}
}



.year{
	width: 924px;
	height: 133px;
	background: image-url("year.png") no-repeat;
	position: absolute;
	top: 560px;
	left: 50%;
	margin: 0 0 0 -462px;
}

.runegg{
	width:208px;
	height:250px;
	position: fixed;
	z-index: 99999;
	bottom: 108px;
	left:50%;
	margin: 0 0 0 -104px;
	background:image-url("pp.gif");
	animation:'runegg' 0.5s steps(3) infinite;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   .runegg {
   		background:image-url("paopao.png") no-repeat;
   		-webkit-animation:'runegg' 0.5s steps(3) infinite;
   	} /*chrome & safari*/
}





@-webkit-keyframes runegg {
	0% {
		background-position: 0px 0; 
	}
	100% {
		background-position: -624px 0; 
	}
}
@-moz-keyframes runegg {
	0% {
		background-position: 0px 0; 
	}
	100% {
		background-position: -624px 0; 
	}
}
@-o-keyframes runegg {
	0% {
		background-position: 0px 0; 
	}
	100% {
		background-position: -624px 0; 
	}
}
@keyframes runegg {
	0% {
		background-position: 0px 0; 
	}
	100% {
		background-position: -624px 0; 
	}
}

.road{
	width: 100%;
	height:113px;
	background: image-url("road.gif") repeat-x left top;
	position: fixed;
	bottom: 0; 
	left: 0;
	overflow:hidden;
 }


#demo {
	overflow:hidden;
	width: 100%;
	position: fixed;
	bottom: 108px;
}
#demo img {
	margin: 0 120px;
	vertical-align: bottom;
}
#indemo {
	float: left;
	width: 800%;
}
#demo1 {
	float: left;
}
#demo2 {
	float: left;	
}

#cloud{
	width:1300px; height:126%; margin:0 auto; position:relative
}


#cloud1,#cloud2 { position:absolute}
#cloud1 { width:285px; height:126px; background:image-url("yun.png"); left:10px; top:100px}
#cloud2 { width:131px; height:90px; background:image-url("yun1.png"); left:1000px; top:130px}


.mask{
	background: #000;
	filter:alpha(opacity=30);      
	-moz-opacity:0.3;  
	-khtml-opacity:0.3; 
	opacity: 0.3;
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
}
