<title>I Love CHiCHi</title>
<meta charset="UTF-8">
<%= stylesheet_link_tag "style", :media => "all" %>
<%= csrf_meta_tags %>
<link rel="icon" type="image/x-icon" href="assets/favicon.ico">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<meta content="i love chichi, chichi, tamagotchi, hatchi, pet, virtual pet, バーチャルペット, ペット, たまごっち, 育成, 电子宠物, 宠物鸡, 电子鸡" name="keywords" />
<meta content="A retro virtual-pet game on mobile which can be played with your friends." name="description" />