<title>I Love ChiChi</title>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta content="A retro virtual-pet game on mobile which can be played with your friends." name="description" />
<meta content="chichi, virtual pet, tamagotchi, chichiapp, 电子宠物，宠物鸡，电子鸡" name="keywords" />